In [1]:
import numpy as np
from scipy import stats
import pandas as pd

In [2]:
import os
os.chdir('D:\\Downloads-D')

In [3]:
dta = pd.read_csv('socialmobility.csv')

In [4]:
dta

          father           son  count
0           farm          farm    703
1           farm     unskilled   1478
2           farm       skilled   1430
3           farm  professional   1109
4      unskilled          farm     58
5      unskilled     unskilled   1756
6      unskilled       skilled   1630
7      unskilled  professional   1568
8        skilled          farm     63
9        skilled     unskilled   1453
10       skilled       skilled   2068
11       skilled  professional   2483
12  professional          farm     61
13  professional     unskilled    749
14  professional       skilled   1183
15  professional  professional   3315

In [5]:
ngu = dta['father'].values=='unskilled'
dta_unskilled_father = dta[ngu]['count'].tolist()
ngu = dta['son'].values=='professional'
dta_professional_son = dta[ngu]['count'].tolist()

In [6]:
prior_unskilled_father = np.ones(len(dta_unskilled_father))
post_unskilled_father = prior_unskilled_father + dta_unskilled_father
prior_professional_son = np.ones(len(dta_professional_son))
post_professional_son = prior_professional_son + dta_professional_son

In [7]:
#Calculate posterior using Dirichlet distribution
dirichlet_unskilled_father = stats.dirichlet(post_unskilled_father)
dirichlet_professional_son=stats.dirichlet(post_professional_son)

In [8]:
#sampling
sample_unskilled_father = dirichlet_unskilled_father.rvs(size=100000)
sample_professional_son=dirichlet_professional_son.rvs(size=100000)

In [9]:
#We see that the conditional probability of skilled son given unskilled father is the third (or index=2) category
lst1=[sample_unskilled_father[i][2] for i in range(len(sample_unskilled_father))]

In [10]:
#We see that the conditional probability of farm father given professional son is the first (or index=0) category
lst2=[sample_professional_son[i][0] for i in range(len(sample_professional_son))]

In [11]:
#print out confidence intervals of the conditional probability of son being skilled if father is unskilled
print(np.percentile(lst1, 2.5), np.percentile(lst1, 97.5))

0.31226833368628054 0.33822877564239895

In [12]:
#print out confidence intervals of the conditional probability of farm father if son is professional
print(np.percentile(lst2, 2.5), np.percentile(lst2, 97.5))

0.12383364294700075 0.13820736225180663